#principal {
    height: 80vh;
    overflow-y: scroll;
    display: block;
}

.cdk-drag-placeholder {
    opacity: 20%;
}

#userimg {
    max-height: 4vh;
    max-width: 2vw;
}

hr.style1 {
    border-top: 1px solid #8c8b8b;
}